* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;

}

/* header styles */
header {
    display: flex;
    justify-content: flex-end;
    background-image: url(../images/banner1.png);
    height: 75vh;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    padding: 150px 100px 100px;
}

header .custom {
    width: 40%;
    text-align: right;
}

header .custom h1 {
    font-size: 62px;
}

header .custom p {
    font-size: 18px;
    color: #444343;
    padding: 35px 0;

}

header .custom button {
    padding: 20px 25px;
    font-weight: 500;
    color: white;
    background-color: #F15B22;
    font-size: 23px;
    border: none;
    border-radius: 5px;
}

/* failure section starts from here */
#failure {
    padding: 100px 150px;
    display: flex;
    align-items: center;
    gap: 60px;
}

#failure img {
    width: 500px;
}

#failure h2 {
    font-size: 44px;
    margin-bottom: 20px;
}

#failure p {
    color: #444343;
    line-height: 2em;
    font-size: 18px;
}

#failure .check-part {
    margin-left: 10px;
}

#failure .icon {
    color: #16D887;
}

/* plan section starts from here */

#plan {

    padding: 0 150px 100px;
}

#plan h2 {
    font-size: 38px;
    margin-bottom: 40px;
    text-align: center;
}

#plan .main-package {
    display: flex;
    justify-content: space-between;
}

#plan .custom {
    text-align: center;
}

#plan .custom img {
    margin-bottom: 10px;
}

#plan .custom p {
    margin-top: 7px;
    font-weight: 500;
    color: #737272;
}

/* footer section starts from here */
footer {
    display: flex;
    gap: 180px;
    padding: 80px 150px;
    background-color: #151414;
    color: white;

}


footer .custom {
    width: 45%;
}

footer .social-icons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

footer .icon-item {
    display: flex;
    background: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.fa-facebook-f {
    color: #006AFF;
}

.fa-twitter {
    color: #1DA1F2;
}

.fa-youtube {
    color: #FF0000;
}

footer h2 {
    font-size: 38px;
    margin-bottom: 10px;
}

footer p {
    line-height: 1.5em;
}

footer .mail {
    margin: 15px 0;
}

footer h5 {
    font-size: 25px;
    font-weight: 500;
}

input[type="email"] {
    border: 1px solid white;
    padding: 13px;
    margin-top: 25px;
    border-radius: 5px;
    background: black;
    color: white;
}

input[type="submit"] {
    border: none;
    padding: 13px 20px;
    margin-top: 15px;
    border-radius: 5px;
    display: inherit;
    background-color: white;
    color: #F15B22;
    font-size: 18px;
    font-weight: 500;
}